<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dlujanapps.mx.wary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" /> <!-- SA -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" /> <!-- SA -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- SA -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- SA -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pointer_circle_light"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WaryTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/WaryTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="dlujanapps.mx.wary.widget.start_discovery" />
                <action android:name="dlujanapps.mx.wary.widget.add_friend" />
                <action android:name="dlujanapps.mx.wary.widget.go_to_friend" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/WaryTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dlujanapps.mx.wary.MainActivity" />
        </activity>
        <!-- AUTHENTICATOR -->
        <service android:name=".data.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- CONTENT PROVIDER -->
        <provider
            android:name=".data.ContentProvider"
            android:authorities="@string/authority"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".finder.Location.LocatorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/WaryTheme" />

        <receiver
            android:name=".finder.WDReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.p2p.STATE_CHANGED" />
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED" />
                <action android:name="@string/ACTION_STOP_DISCOVER_PEERS" />
                <action android:name="@string/ACTION_ALARM_DISCOVER_PEERS" />
                <action android:name="@string/ACTION_CONNECT" />
                <action android:name="@string/ACTION_DISCONNECT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".finder.ClientService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.p2p.STATE_CHANGED" />
            </intent-filter>
        </service>

        <receiver android:name=".widget.WaryWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="dlujanapps.mx.wary.widget.go_to_friend" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wary_widget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".widget.WaryWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>